html {
    background-color: rgb(119, 216, 255);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
h1.big {
    font-size: 100px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    width: 100%;
    height: 50px;
}
li {
    float: left;
    color: #222222;
}
li a:hover:not(.active) {
    background-color: #0f0f0f;
  }
  
  .active {
    background-color: #001a41;
    color: white;
  }
header.welcome {
    background-image: url('outro background.png');
    background-size: 50%;
}
.suges {
    width: 60px;
    margin-top: -5px;
    margin-left: -225px;
}
.bigboybr {
    font-size: 1000%;
}
